# OSClass specific ignores
.htaccess
oc-content/uploads/
oc-includes/config.php
oc-includes/osclass.config.php
oc-includes/defs.*
oc-includes/languages/
oc-includes/payments/
oc-includes/mail-templates/
oc-includes/osclass.assets.php
oc-includes/osclass.php
oc-includes/version.php
oc-content/oc-settings.xml
oc-content/themes/*/cache/
oc-content/themes/*/custom/
oc-content/themes/*/compiled-css/
oc-content/themes/*/fonts/
oc-content/themes/*/img/
oc-content/themes/*/includes/
oc-content/themes/*/js/
oc-content/themes/*/languages/
oc-content/themes/*/payment-plugins/
oc-content/plugins/
oc-content/uploads/
oc-content/downloads/
/oc-content/languages/
/oc-content/plugins/
/oc-content/uploads/
/oc-content/themes/default/
/oc-content/themes/modern/
/oc-content/themes/osc_default/
/oc-content/themes/evoswing/
/oc-content/themes/bootsrap/
/oc-content/themes/ocboot/
/oc-content/themes/zara/
/oc-content/themes/tuffclassified/
/oc-content/themes/vr/
/oc-content/themes/jasmine/
/oc-content/themes/kat/
/oc-content/themes/vasimple/
/oc-content/themes/fancier/
/oc-content/themes/callisto/
/oc-content/themes/emanium/
/oc-content/themes/allegro/
/oc-content/themes/pattern/
/oc-content/themes/penelope/
/oc-content/themes/tophat/
/oc-content/themes/dreamy/
/oc-content/themes/third/
/oc-content/themes/multiple/
/oc-content/themes/classifried/
/oc-content/themes/classified_ospicture/
/oc-content/themes/osf/
/oc-content/themes/classygecko/
/oc-content/themes/malvinas/
/oc-content/themes/lara/
/oc-content/themes/moderndecor/
/oc-content/themes/scf/
/oc-content/themes/protorque/
/oc-content/themes/appgrip/
/oc-content/themes/zoom/
/oc-content/themes/revo/
/oc-content/themes/frenzy/
/oc-content/themes/decor/
/oc-content/themes/bender/
/oc-content/themes/comer/
/oc-content/themes/luxor/
/oc-content/themes/premium/
/oc-content/themes/classy/
/oc-content/themes/hunter/
/oc-content/themes/fb/
/oc-content/themes/smart/
/oc-content/themes/classyshine/
/oc-content/themes/shopclass/
/oc-content/themes/amelia/
/oc-content/themes/classyfire/
/oc-content/themes/quickad/
/oc-content/themes/danel/
/oc-content/themes/styleapp/
/oc-content/themes/motorola/
/oc-content/themes/classylaunch/
/oc-content/themes/osbuz/
/oc-content/themes/smartestate/
/oc-content/themes/factor/
/oc-content/themes/multiply/
/oc-content/themes/old/
/oc-content/themes/classydealer/
/oc-content/themes/cashcow/
/oc-content/themes/landa/
/oc-content/themes/glamour/
/oc-content/themes/glamourchild/
/oc-content/themes/oscl/
/oc-content/themes/myoclassifieds/
/oc-content/themes/milano/
/oc-content/themes/twin/
/oc-content/themes/flatter/
/oc-content/themes/classypremium/
/oc-content/themes/bauhaus/
/oc-content/themes/jenri/
/oc-content/themes/lider/
/oc-content/themes/mode/
/oc-content/themes/carolina/
/oc-content/themes/classics/
/oc-content/themes/classified_oshawk/
/oc-content/themes/premier/
/oc-content/themes/nexus/
/oc-content/themes/greenvision/
/oc-content/themes/yellowvision/
/oc-content/themes/redvision/
/oc-content/themes/classyroxanne/
/oc-content/themes/classystripes/
/oc-content/themes/classysalon/
/oc-content/themes/classysession/
/oc-content/themes/classybilliards/
/oc-content/themes/classyvogue/
/oc-content/themes/classypub/
/oc-content/themes/classyserpent/
/oc-content/themes/classyvelvet/
/oc-content/themes/classymember/
/oc-content/themes/classyrose/
/oc-content/themes/classysmarty/
/oc-content/themes/classymono/
/oc-content/themes/classytown/
/oc-content/themes/classyblack/
/oc-content/themes/classysea/
/oc-content/themes/classybrown/
/oc-content/themes/classymanhattan/
/oc-content/themes/classybusiness/
/oc-content/themes/classybulletin/
/oc-content/themes/classyblue/
/oc-content/themes/classyswimwear/
/oc-content/themes/classyschool/
/oc-content/themes/classylifestyle/
/oc-content/themes/classygym/
/oc-content/themes/classyparty/
/oc-content/themes/classydigital/
/oc-content/themes/classygo/
/oc-content/themes/classycocktail/
/oc-content/themes/classybottle/
/oc-content/themes/classybuffet/
/oc-content/themes/classylisting/
/oc-content/themes/classywedding/
/oc-content/themes/classydoll/
/oc-content/themes/classyfestival/
/oc-content/themes/classypet/
/oc-content/themes/classypiano/
/oc-content/themes/classyromance/
/oc-content/themes/classyboutique/
/oc-content/themes/classymoney/
/oc-content/themes/classyharmony/
/oc-content/themes/classyflat/
/oc-content/themes/classyholiday/
/oc-content/themes/classyeco/
/oc-content/themes/classysurfer/
/oc-content/themes/classyfitness/
/oc-content/themes/classycafe/
/oc-content/themes/classyroyal/
/oc-content/themes/classyindustry/
/oc-content/themes/classyfootball/
/oc-content/themes/classypartners/
/oc-content/themes/classyad
